<header class="site-header" role="banner">
  <div class="header-inner">
    <h1 class="brand">
      <a href="/">CSE Motors</a>
    </h1>
    <div class="account-link">
      <a href="#" aria-label="My Account">My Account</a>
    </div>
  </div>
</header>
